@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


.body{
   background-color: #FAF2DA;
}


.titulo {
   font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}
.btn-outline-primary {
   font-family: "Righteous", sans-serif;
  font-weight: 400;
   font-size: 17px;
   font-style: normal;
}

.btn-outline-primary:hover {
    background-color: #4a503d;
    border-color: #4a503d;

}


.btn-outline-primary{
    border-color: #4a503d;
    color: #4e4c43;
}


input {
    border-style: solid;
    border-color: rgb(148, 148, 150);
    border-radius: 10px;
    margin-bottom: 15px;
}

input:focus{
     
    outline: none;
    border: 2px solid rgb(127, 124, 167);
}

.socials{
    color:#7E7F60;
}



.date{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}


#root{
    flex-direction: column;
    gap: 10vh;
    padding-bottom: 10vh;
    background-color: #D4CAAE;
}

.row{
    width: 75%;
    margin-top: 40px;
    
}

.hero-frame {
    overflow: hidden; /*Impede que a imagem vaze do quadro*/
    /*background: #7E7F60;  Aplicar cor ao fundo quando a imagem não ocupar todo o espaço*/
    
}
.hero img, .hero {
    /*Aplica propriedade cover para que a imagem preencha o quadro*/
    object-fit: cover;
    object-position: center; /*Centralizar o recorte da imagem*/
    height: 70vh;
    
    
}
@media(max-width: 576px) {
    .hero img, .hero{
        height: 50vh;
    }   
}


.cards{
display: flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
gap: 15px;
}


.divDate{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-family: "DM Sans", sans-serif;
    font-weight: 20px;
     font-size: 20px;
    
}


.btn-primary{
        background-color: #4a503d;


}

.btn-primary:hover {
    background-color: #4a503d;
    background-color: #4e4c43;
    
}
.navbar-brand{
    transition: transform 0.3s ease;
}
.navbar-brand:hover{
   transform: scale(1.05);
}

.btn-primary:hover{
    background-color: #7e7a6b;
    border-color: #7e7a6b;
}

/*.btn-group{

     display: flex;
    justify-content: center;
    position: absolute;
    top: -20px;
    margin-right: 49px;
    font-family: "Righteous", sans-serif;
     width: 400px;
     height: 44px;
    background-color: #4a503d;
     

}
    */

.card-text{
    font-family: "Righteous", sans-serif;
   

}
.dropdown-menu{
    border-radius: none;
}

.btn-bege{
    background-color: #D4CAAE;
   border-color: #4a503d;

}
.btn-bege:hover{
    background-color: #aaa493;

}


   


