.body{
   background-color: #FAF2DA;
}


.titulo {
   font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}
.btn-outline-primary {
   font-family: "Righteous", sans-serif;
  font-weight: 400;
   font-size: 17px;
   font-style: normal;
}

.btn-outline-primary:hover {
    background-color: #4a503d;
    border-color: #4a503d;

}

.btn-outline-primary{
    border-color: #4a503d;
    color: #4e4c43;
}


input {
    border-style: solid;
    border-color: rgb(148, 148, 150);
    border-radius: 10px;
    margin-bottom: 15px;
}

input:focus{
     
    outline: none;
    border: 2px solid rgb(127, 124, 167);
}
.socials{
    color:#7E7F60;
}

